body {
  font-family: Arial, sans-serif;
  background: #87ade7;
  margin: 0;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: 40px auto;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  max-width: 300px;
  margin: auto;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.card p {
  font-size: 18px;
  font-weight: bold;
  color: #27ae60;
  margin-top: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  padding: 15px 40px;
  margin-bottom: 30px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.buscador input {
  padding: 8px 12px;
  width: 200px;

  border-radius: 6px;
  border: 1px solid #ccc;
}

.card button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #3498db;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.card button:hover{
  background: #2980b9;
}

.carrito{
  font-size: 18px;
  font-weight: bold;
}

.buscador input{
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 250px;
  transition: 0.2s;
}

.buscador input:focus{
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52,152,219,0.5);
}

.carrito-container{
  position: relative;
  cursor: pointer;
}

.carrito-icono{
  font-size: 18px;
  font-weight: bold;
}

.carrito-dropdown{
  position: absolute;
  top: 35px;
  right: 0;
  width: 250px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  padding: 15px;
  display: none;
}

.filtro-categoria select{
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.filtro-categoria select:focus{
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52,152,219,0.5);
}

.filtros{
  display: flex;
  gap: 10px;
  align-items: center;
}

#filtro-categoria{
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

#filtro-categoria:focus{
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52,152,219,0.5);
}

#buscador{
  width: 220px;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: all 0.2s ease;
  transition: width 0.3s;
}

#buscador:focus{
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 6px rgba(52,152,219,0.5);
    width: 320px;
}




